.menu_container {
    -fx-background-color: #ffffff;
}

.menu_container_titulo {
    -fx-background-color: #101a72;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-border-color: #1e1247;
    -fx-border-width: 1;
}

.menu_container_titulo Text{
    -fx-fill: #ffffff;
    -fx-font-size: 2.0em;
    -fx-font-weight: bold;
}

.menu_container_titulo FontAwesomeIconView {
    -fx-fill: #ffffff;
}

.menu_container_body{
    -fx-background-color: #ffffff;
    -fx-spacing: 20;
    -fx-padding: 10 10 10 20;
    -fx-text-alignment: center;
    -fx-alignment: top_center;
}

.menu_container_body FontAwesomeIconView{
    -fx-fill: #101a72;
}

.menu_container_body Button {
    -fx-pref-height: 30;
    -fx-pref-width: 100;
    -fx-background-color: #ffffff;
    -fx-text-fill: #101a72;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow(three-pass-box, #726d6d, 9, 0, 0, 6);
}

.menu_container_body Button:hover {
    -fx-cursor: hand;
}

.menu_container_body .btn {
    -fx-pref-height: 30;
    -fx-pref-width: 100;
    -fx-background-color: linear-gradient(to right, #101a72, #1e1247);
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.2em;
    -fx-effect: dropshadow(three-pass-box, #726d6d, 9, 0, 0, 6);
}

.menu_container_body .btn FontAwesomeIconView{
    -fx-fill: #ffffff;
}

.menu_container_report{
    -fx-background-color: #eeeeee;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.menu_container_report Label{
    -fx-text-fill: #101a72;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.menu_container_report TextArea{
    -fx-background-color: #eeeeee;
    -fx-effect: dropshadow(three-pass-box, #726d6d, 9, 0, 0, 6);
}

.menu_container_report Button{
    -fx-pref-height: 30;
    -fx-pref-width: 100;
    -fx-background-color: linear-gradient(to right, #101a72, #1e1247);
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.2em;
    -fx-effect: dropshadow(three-pass-box, #726d6d, 9, 0, 3, 6);
}

.menu_container_report FontAwesomeIconView{
    -fx-fill: #ffffff;
}
