.container_principal {
    -fx-background-color: #ffffff;

}
.container_pesquiser {
    -fx-padding: 10 0 0 10;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.container_principal ListView {
    -fx-background-color: #ffffff;
    -fx-border-color: #aaaaaa;
    -fx-border-width: 1 0 0 0;
}

.container_principal TextField {
    -fx-pref-height: 35;
    -fx-pref-width: 150;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#808080, 5, 0, 0, 5);
}

.container_principal Label {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-text-fill: #726d6d;
    -fx-font-family: "Calibri Light";
}

.container_principal Button {
    -fx-pref-height: 35;
    -fx-pref-width: 150;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.2em;
    -fx-font-family: Calibri;
    -fx-background-color: linear-gradient(to left, #1e1247, #101a72);
    -fx-effect: dropshadow(three-pass-box,#808080, 5, 0, 0, 5);
}

.container_principal Button:hover{
    -fx-cursor: hand;
}

.container_principal FontAwesomeIconView {
    -fx-fill: #ffffff;
}

.container_alterar {
    -fx-padding: 10 0 10 0;
    -fx-spacing: 20;
}
.container_adicionar {
    -fx-padding: 10;
    -fx-spacing: 15;
}
.container_adicionar TextField {
    -fx-pref-height: 40;
    -fx-pref-width: 250;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box,#808080, 5, 0, 0, 5);
}

.container_adicionar Button {
    -fx-pref-height: 40;
    -fx-pref-width: 250;
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.2em;
    -fx-font-family: Calibri;
    -fx-background-color: linear-gradient(to left, #1e1247, #101a72);
    -fx-effect: dropshadow(three-pass-box,#808080, 5, 0, 0, 5);
}
#cadastro_invalido {
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
}